.container {
    display: block;
    width: 350px;
    height: 511px;
    background: #00001a;
    margin-left: 70%;
    margin-top: -570px;
}
.subtitle {
    color: #e9aa52;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 44px;
    margin-left: 25px;
    padding-top: 30px;
}
.title-one,
.title-two,
.title-three {
    display: flex;
    color: #fffdfa;
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.title-one:hover,
.title-two:hover,
.title-three:hover {
    color: #e9aa52;
    transition: all 500ms;
}

.text-one,
.text-two,
.text-three {
    display: flex;
    width: 311px;
    color: #c5c6ce;
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}
.text-one,
.text-two {
    padding-bottom: 30px;
    border-bottom: 1px solid #fffdfa;
}
