*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    cursor: pointer;
}
.navegacion{
    display: flex;
    color: #5E607A;
    justify-content: flex-end;
    font-family: "Quicksand", sans-serif;
    font-family: 17px;
    font-weight: 500;
    list-style: none;
    margin-top: -30px;
    gap: 50px;
    margin-right: 200px;
    cursor: pointer;
}
.navbar:hover{
    color: #F15D51;
    transition: all 500ms;
}