.boton{
    display: flex;
    margin-left: 41%;
    margin-top: 40px;
    width: 240px;
    height: 65px;
    letter-spacing: 4px;
    font-weight: bold;
    background: #F15D51;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms;
}
.boton:hover{
    background: #00001A;
    color: #FFFDFA;
    transition: all 500ms;
}